:root {
  --color-bg: white;
  --color-secondary-bg: rgb(245, 245, 245);
  --color-text:rgb(30, 30, 30);
  --color-border: rgb(200, 200, 200);
  --font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  --line-height: 1.5;
  --width-content: 1080px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: rgb(30, 30, 30);
    --color-secondary-bg: rgb(40, 40, 40);
    --color-text:rgb(245, 245, 245);
    --color-border: rgb(50, 50, 50);
  }
}

html,
body {
  border: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin: 0;
  overflow-x: hidden;
  font-size: 25px;
}

@media (max-width: 1080px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 16px;
  }
}

.book-header {
  display: grid;
  grid-template-columns: 5em auto;
  background-color: var(--color-secondary-bg);
  border-bottom: solid var(--color-border) 1px;
  max-width: 100%;
}

.book-header-title {
  width: 100%;
  overflow: hidden;
}

.book-header h1,
.book-header p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-header h1 {
  font-size: 1.2em;
}

.book-header-icon {
  text-align: center;
}

.book-header-icon button {
  border: none;
  padding: none;
  font-size: 2.5em;
  color: var(--color-text);
  background-color: var(--color-secondary-bg);
}

.back {
  background-color: var(--color-secondary-bg);
  border-bottom: solid var(--color-border) 1px;
  padding: 0.5em;
}

.back span {
  margin-left: 2em;
  margin-right: 0.5em;
}

.logo-header {
  display: grid;
  grid-template-columns: 4em auto;
  margin: 0 auto;
  max-width: var(--width-content);
  padding: 2rem 1rem;
}

.logo-header-title {
  display: flex;
  align-items: center;
}

.logo-header-title h1 {
  width: 100%;
  margin-left: 1em;
  font-size: 2em;
}

.toc {
  background-color: var(--color-secondary-bg);
  border-bottom: solid var(--color-border) 1px;
  padding: 0.5em;
}

.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 3em;
}

.navigation-next {
  text-align: right;
}

main {
  margin: 0 auto;
  max-width: var(--width-content);
  padding: 2rem 1rem;
}

.error-page button {
  display: block;
  margin: auto;
  margin-top: 5em;
  border: none;
  padding: 1em 2em;
  font-size: inherit;
  font-family: inherit;
  color: var(--color-bg);
  background-color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.page a {
  text-decoration: underline;
}

a[role="doc-noteref"] {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
  display: block;
  margin: 2em auto;
}

blockquote {
  margin: 0;
  border-left: solid var(--color-border) 2px;
  padding-left: 1em;
}

td {
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: text-top;
}

.go-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.go-to-top button {
  border: none;
  padding: none;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-text)
}

.book-list {
  margin-top: 3em;
}

.book-list-item {
  display: grid;
  grid-template-columns: auto 2em;
  border-bottom: dotted var(--color-border) 1px;
  padding: 0.5em;
}

.book-list-item button {
  border: none;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  cursor: pointer;
}

.book-list-item button:hover {
  color: var(--color-bg);
  background-color: var(--color-text);
}

.book-list-item .book-label {
  cursor: pointer;
}

.book-list-item .book-label:hover {
  font-weight: bold;
}

.book-list-item .book-author {
  font-style: italic;
}

.info {
  margin-top: 3em;
}

.info a {
  text-decoration: underline;
}